.app-wrapper{
  width: 1200px;
  display: grid;
  grid-template-areas: "h h" "n c";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  
}
.header{
  grid-area: h;
  background-color:aquamarine;
}
.header img{
  width: 60px;;
}
.nav{
  grid-area: n;
  background-color:aqua;
}
.content{
  grid-area: c;
  background-color:rgb(133, 197, 197);
}
.content-img{
  max-width: 50%;
  
  
}
.intro{
  display: flex;
  
}
.intro-img{
  width: 80px;
}
